{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Trybe Bank | Perfil</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="{% static 'sort.js' %}"></script> 
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-success">
            <img src="/static/images/logo-negative-green.svg" width="50px">
            <a class="navbar-brand" href="index.html">Trybe Bank</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                    <a class="nav-item nav-link" href="/profile/account_status/">Profile<a>
                    <a class="nav-item nav-link" href="/admin">Admin<a>
                </div>
            </div>
        </nav>
        <div class="container-fluid row">
            <section id="side_panel" class="col-3 bg-dark" style="margin-top: 60px;">
                <img src="/static/images/logo-negative-green.svg" class="container btn">
                <a href="{% url 'profiles:account_status' %}" class="current side" id="status">Status da conta</a> <br> <br>
                <a href="{% url 'profiles:money_transfer' %}" class="side" id="transfer">Transferência de dinheiro</a> <br> <br>        
                <a href="{% url 'profiles:view_transactions' %}" class="side" id="transfer">Histórico de transferência</a> <br> <br>
            </section>
            {% block bodycontent %}
            {% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        {% block scriptcontent %}
        {% endblock %}
    </body>
</html>